<nav class="navbar navbar-expand-lg navbar-dark bg-dark" *ngIf="isLoggedIn">
    <a class="navbar-brand" routerLink="/home">PollutionCheck App</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
  
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item">
          <a class="nav-link" routerLink="/dashboard" >Dashboard </a>
        </li>
     
    
        <li class="nav-item">
          <a class="nav-link " routerLink="/watch">Favourite List</a>
        </li>
      </ul>
      
    </div>
  </nav>
  
  <div>
      
  </div>
 
  