<div id="bg">
  <img src="https://news.harvard.edu/wp-content/uploads/2022/01/iStock-air-pollution-1200x800.jpg" alt="">
</div>

<header>
    <div class="container">
      <a routerLink="/" class="logo">Pollution Check</a>
      <nav>
        <ul>
          <li>
            
            <a routerLink="/register" class="logo">Register</a>
          </li>     
        </ul>
      </nav>
    </div>
  </header>
<section class="joinnow">
  <div class="login col-lg-4 m-auto shadow-lg">
  
          <form [formGroup]="formGroup" (ngSubmit)="islogin()">
            <div class="mb-md-5 mt-md-4 pb-5">

              <h2 class="fw-bold mb-2 text-uppercase">Login</h2>
              <p class="text-white-50 mb-5">Please enter your username and password!</p>
               
              <div class="form-outline form-white mb-4">
                <input type="email" id="typeEmailX" class="form-control form-control-lg"  formControlName="username" />
                <label class="form-label" for="typeEmailX">UserName</label>
              </div>

              <div class="form-outline form-white mb-4">
                <input type="password" id="typePasswordX" class="form-control form-control-lg" formControlName="password" />
                <label class="form-label" for="typePasswordX">Password</label>
              </div>

              <button class="btn btn-outline-primary btn-lg px-5" type="submit">Login</button>
            
            </div>
          </form>
            <div>
              <p class="mb-0">Don't have an account? <a routerLink="/register" class="text-black-50 fw-bold">Sign Up</a>
              </p>
            </div>

  </div>     
</section>